@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
@import 'react-awesome-button/dist/styles.css';



.color-nav{
    background-color: #ddab71;
}
.maintitle{
    color: white;
    margin-right: 10%;
    margin-left: -1%;
    background-color:#ddab71;
    display:flex;
    font-family: 'DM Sans', sans-serif;
}
.maintitle2{
    color: rgb(11, 11, 10);
}
.titleBlock{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    z-index: 100;
}
.titles1{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: calc(1px + 2.3vw);
    min-inline-size: 4vw;
    color: #433b4a;
    position: relative;
    z-index: 2000;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Lato', sans-serif;
    --b: 0.5vw;  /* border thickness*/
    --s: 10vw; /* size of the corner*/
    --g: 1vw; /* the gap*/
    --c: #ddab71; 
    background-size: var(--s) var(--s);
    background-repeat: no-repeat;
    cursor: pointer;
    background-image:
    conic-gradient(from 180deg at top    var(--b) right var(--b),#0000 25%,var(--c) 0),
    conic-gradient(from   0deg at bottom var(--b) left  var(--b),#0000 25%,var(--c) 0);
    background-position:
    calc(90% - var(--_p,0%)) var(--_p,0%), var(--_p,10%) calc(100% - var(--_p,0%));
    
}
.titles11{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: calc(12px + 2.0vw);
    min-inline-size: 4vw;
    color: #efedf1;
    position: relative;
    z-index: 2000;
    padding-left: 15%;
    padding-right: 10%;
    font-family: 'DM Sans', sans-serif;
    --b: 0.5vw;  /* border thickness*/
    --s: 10vw; /* size of the corner*/
    --g: 1vw; /* the gap*/
    --c: #ddab71; 
    background-size: var(--s) var(--s);
    background-repeat: no-repeat;
    cursor: pointer;
    background-image:
    conic-gradient(from 180deg at top    var(--b) right var(--b),#0000 25%,var(--c) 0),
    conic-gradient(from   0deg at bottom var(--b) left  var(--b),#0000 25%,var(--c) 0);
    background-position:
    calc(90% - var(--_p,0%)) var(--_p,0%), var(--_p,10%) calc(100% - var(--_p,0%));
    
}
.framed {
    box-shadow:
        -50px -50px 0 -40px var(--red),
        50px 50px 0 -40px var(--red);
        display: flex;

}

img.framed{
    height: 280px;
    display: flex;
    opacity: 0.8;

}

.titles2{
    color:rgb(248, 248, 172);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(15px + 2vw);
    margin-top: 0%;
    margin-bottom: 3%;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
.titles3{
    display: flex;
    font-size: calc(20px + 1.5vw);
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Lato', sans-serif;
    color: #333333;
}
.titles4{
    display: flex;
    margin-top: -5%;
    font-size: calc(25px + 1.5vw);
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Lato', sans-serif;
    color: #48372a;
}
.titles5{
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(15px + 2vw);
    margin-top: 0%;
    margin-bottom: 3%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.firstBlock{
    height: 100%;
    width: 100%;
    background: #EDC951;
    position: relative; 
    z-index: -30;
    padding-bottom: 15%;
}

.secondBlock{
    margin-top: -2%;
    background-color: #171515;
}
.thirdBlock{
    height: 70%;
    width: 100%;
    background: #EDC951;
    padding-bottom: 10%;
}
.fourthBlock{
    height: 70%;
    width: 100%;
    background: #ddab71;
    padding-bottom: 10%;
}
.fifthBlock{
    height: 20%;
    width: 100%;
    background-color: #171515;
    padding-bottom: 3%;
}
.botompage{
    margin-top: -9%;
    font-family: 'DM Sans', sans-serif;
}
.carouselBlock{
    margin-top: -10%;
}
.carousel-inner {
    padding-top: 10%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 10%;
}
.pictureFrame{
    display: flex;
    width: 100%;
    align-content: center;
    flex-direction: row;
    padding-top: 14%;
    justify-content: center;
    background-color: #171715b2;
}
.picture{
    height: 40%;
    width: 40%;
    display: flex;
    align-self: center;
    opacity: 0.8;
    position: relative;
    --b: 8px;  /* border thickness*/
    --s: 60px; /* size of the corner*/
    --g: 14px; /* the gap*/
    --c: #EDC951; 

    padding: calc(var(--b) + var(--g));
    background-image:
        conic-gradient(from  90deg at top    var(--b) left  var(--b), #0000 25%, var(--c) 0),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), #0000 25%, var(--c) 0);
    background-position:
        var(--_p, 0%) var(--_p, 0%),
        calc(100% - var(--_p, 0%)) calc(100% - var(--_p, 0%));
    background-size: var(--s) var(--s);
    background-repeat: no-repeat;
    transition: 
    background-position .3s var(--_i,.3s), 
    background-size .3s calc(.3s - var(--_i, .3s));
    

}
.logosblock{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logocol1{
    display: flex;
    height: 15vw;
    width: 15vw;
    margin: 1%;
}
.logocol2{
    display: flex;
    height: 15vw;
    width: 15vw;
    margin: 1%;
}
.logocol3{
    display: flex;
    height: 15vw;
    width: 15vw;
    margin: 1%;
}
.logocol4{
    display: flex;
    height: 15vw;
    width: 15vw;
    margin: 1%;
}
.logocol5{
    display: flex;
    height: 15vw;
    width: 15vw;
    margin: 1%;
}
.logocol6{
    display: flex;
    height: 15vw;
    width: 15vw;
    margin: 1%;
}
.logocol7{
    display: flex;
    height: 15vw;
    width: 15vw;
    margin: 1%;
}
.logocol8{
    display: flex;
    height: 15vw;
    width: 15vw;
    margin: 1%;
}
.logocol9{
    display: flex;
    height: 15vw;
    width: 15vw;
    margin: 1%;
}
.registertitle{
    margin-top: 150px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3%;
}
.registertitle1{
    margin-top: 150px;
    text-align: center;
    color: rgb(250, 244, 145);
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3%;
}
.registcont{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    align-items: center;
    place-content: center;
    text-align: center;
}

.registbody{
    display: inline-flex;
    flex-direction: row;
    place-content: center;
    width: 100%;
    height: 100%;
}


.backround1{
    background-color:  #413b47;
    height: 150vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}



.links{
    margin-right: 10px;
    font-family: 'DM Sans', sans-serif;
    color: #ffa143;

}


.logo1{
    padding: 10%;
}
.logo2{
    height: 8vw;
    width: 15vw;
    align-self: center;
}
.logo3{
    height: 5vw;
    width: 15vw;
    align-self: center;
}
.logo4{
    height: 5vw;
    width: 15vw;
    align-self: center;
}
.logo5{
    height: 10vw;
    width: 10vw;
    align-self: center;
}
.logo6{
    height: 15vw;
    width: 15vw;
    align-self: center;
}
.logo7{
    height: 12vw;
    width: 15vw;
    align-self: center;
}
.logo8{
    height: 4vw;
    width: 15vw;
    align-self: center;
}
.logo9{
    height: 10vw;
    width: 10w;
    align-self: center;
}

.telephonetxt{
    color: #e7dede;
    align-items: center;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.myVideo {
    height: 150vh;
    width: 100%;
    object-fit:cover;
    position: absolute;
    margin-top: 5%;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;

}
.buttons{

    margin-bottom: 2%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.singleBtn{
    margin-left: 2%;
    margin-top: 1vh;
    width: fit-content;
    display: flex;
    font-family: 'Lato', sans-serif;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(70vh - 80px);
}

.image-gallery-slide .image-gallery-description {
    background: rgba(209, 209, 200, 0.4);
    bottom: 70px;
    color: #fff;
    position: static;
    margin-top: 1%;
    right: 0;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    white-space: normal;
    margin-left: 30%;
    margin-right: 30%;
    display: block;
    font-family: monospace;
    font-size: 1.5vh;
    
}

.aws-btn {

    --button-default-height: 41px;
    --button-default-font-size: 15px;
    --button-default-border-radius: 4px;
    --button-horizontal-padding: 16px;
    --button-raise-level: 6px;
    --button-hover-pressure: 3.25;
    --transform-speed: 0.3s;
    --button-primary-color: #272424;
    --button-primary-color-dark: #e0e173;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #aaac39;
    --button-primary-color-active: #252323;
    --button-primary-border: 4px solid transparent;
    margin-left: 2vh;
    margin-bottom: 1vh;

}